<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Dashboard</title>
</head>
<body>
    <h2>This is Company Dashboard of @<i><%= dbUser.name %></i> </h2>
    <h3>Your details are below:</h3>
    <h3>Name: <%= dbUser.name %></h3>
    <h3>Email: <%= dbUser.email %></h3>
    <h3>Type: <%= dbUser.accType %></h3>
    <h3>Id: <%= dbUser._id %></h3>
</body>
</html>