<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="dash-main">
        <div class="dash-outer-left">
            <div class="dash-left-nav">
                <h2 class="dash-head1">Dashboard</h2>
            </div>
            <div class="img-container">
                <img src="/images/man.png" class="dash-img">
            </div>
            <div class="profileDetails">
                <span><h3><%= dbUser.name %></h3></span>
                Registration: <%= dbUser.registration %><br>
                Cgpa: <%= dbUser.cgpa %><br>
                Department: <%= dbUser.department %><br>
                Address: <%= dbUser.address %>
            </div>
            <div class="dash-inner-left">
                <a href="http://localhost:3000/student/<%= dbUser.id %>/edit" id="dashProfileId"><button id="dashProfile"> Edit Profile Details </button></a>
            </div>
        </div>
        <div class="dash-outer-right">
            <div class="dash-right-nav">
                <button type="button" class="a-btn-class" data-type="feed">News Feed</button>
                <button type="button" class="a-btn-class" data-type="jobOpenning">Job Openings</button>
                <button type="button" class="a-btn-class" data-type="jobApplied">Jobs Applied</button>
                <button type="button" class="a-btn-class" data-type="checkCompany">Check Companies</button>
                <button type="button" class="a-btn-class" data-type="notification">Notifications</button>
            </div>
            <div class="dash-inner-right" id="content-area">
                <h3 style="color: black;">Timeline posts are here</h3>
            </div>
        </div>
    </div>
    <script src="/js/dashboard.js"></script>
</body>
</html>
