<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> job Details </title> </head>
    <link rel="stylesheet" href="/css/style.css">
<body>
    <div class="job-detail">
        <h2 class="table-title">Job Details</h2>
        <table>
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Information</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Title</td>
                    <td><%= jobData.title %></td>
                </tr>
                <tr>
                    <td>Company</td>
                    <td><%= jobData.company.name %></td>
                </tr>
                <tr>
                    <td>Total Applications</td>
                    <td><%= totalApplications %></td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td class="formatted-text"><%= jobData.description %></td>
                </tr>
                <tr>
                    <td>Salary</td>
                    <td><%= jobData.salary %></td>
                </tr>
                <tr>
                    <td>CGPA Required</td>
                    <td><%= jobData.reqCgpa %></td>
                </tr>
                <tr>
                    <td>Skills Required</td>
                    <td><%= jobData.skillsReq.join(", ") %></td>
                </tr>
                <tr>
                    <td>Deadline</td>
                    <td><%= jobData.deadline? jobData.deadline.toISOString().split("T")[0]: "Not specified" %></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>