<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applicants</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2 class="test-h2-class">Following is the List of People Applied:</h2>
    <div class="job-template">
        <% applicants.forEach(applicant => { %>
            <div class="individual-template student-card">
                <h3>Job Title: <%= applicant.job.title %></h3>
                <h3>Applicant: <%= applicant.name %></h3>
                <h4>Student CGPA: <%= applicant.cgpa %></h4>
                <!-- <h4>Salary: <%= applicant.job.salary %></h4> -->
                <h4>CGPA Required: <%= applicant.job.reqCgpa %></h4>
                <h4>
                    Deadline:
                    <%= new Date(applicant.job.deadline).toLocaleDateString() %>
                </h4>
                <!-- Actions -->
                <div class="dash-right-nav">
                    <form method="POST" action="/company/updateStatus">
                        <div class="dash-right-nav">
                            <button type="button" class="a-btn-class" data-type="applicantDetails" data-studentid="<%= applicant.student._id %>" data-jobid="<%= applicant.job._id %>" >See Applicant Details</button>
                        </div>
                    </form>
                </div>
            </div>
        <% }) %>
    </div>
    <script src="/js/dashboard.js"></script>
</body>
</html>